VITE_APP_NAME=
VITE_APP_ENV=
VITE_BASE_URL=
VITE_API_URL=
VITE_REVERB_SCHEME=
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=
VITE_REVERB_PORT=
VITE_ELEVENLABS_API_KEY=
VITE_GITHUB_BACKEND_REPO_URL=
VITE_GITHUB_FRONTEND_REPO_URL=